//site color variables
$body-color: #F4F4F4;
$primary-color: #c18401;
$secondary-color: #232324;
$text-color: #7f7f7f;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #EAEAEB;
$dark-gray: #eaeaea;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
